**/.DS_Store
/node_modules/
/coverage/**

/assets/
/dist/

/src/resources/testcases/**/bundles/**
/src/resources/testcases/**/resources/**
/src/resources/s4h/**/*
/src/resources/synthea/**/*

/src/parameterMapping.json

/out/**/*